<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="live.player.edge.com.playerapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activities.PlayerActivity"
            android:theme="@style/AppTheme.custom"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.GettingStarted"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SignInActivity"
            android:label="Log In or Sign Up "
            android:screenOrientation="portrait"
            android:parentActivityName=".Activities.GettingStarted" />
        <activity
            android:name=".Activities.QuizResults"
            android:screenOrientation="portrait"
            android:label="Winners"
            android:parentActivityName=".Activities.HomeActivity" />
        <activity android:name=".Activities.ProfileActivity"
            android:label="Profile"
            android:parentActivityName=".Activities.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>